name: Upload to dockerhub

on:
  push:
    branches: [ master ]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: docker build -t local .
      - name: Startup
        run: docker run -td --name testing local
      - name: Get containers
        run: docker ps
      - name: Get logs
        run: docker logs testing
      - name: Run test
        run: docker exec testing curl localhost

  Dockerhub:
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4.0.0
        with:
          file: Dockerfile
          context: .
          tags: arturork/k8s-python-restapi
          push: true